[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pyinstaller = "*"
countdownapp = {editable = true, path = "."}
pywin32-ctypes = "*"
pefile = "*"

[dev-packages]
black = "*"
flake8 = "*"
pyqt5-tools = "*"
mypy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
